@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --titulo:#333;
    --button: #ee665c;
    --opaco:#eee;
    --white:#FFF;
    --bg-login:#918f8f;
    --font: "Bungee Inline", sans-serif;
    --border: #22c1d6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border:none;
    font-family: var(--font);
}


body{
    background-color: var(--bg-login);

}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 0 0 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: var(--opaco);
    border-radius: 20px;
}

.card{
    width: 100%;
    aspect-ratio: 4/5; /*! Define a proporção do card, sempre o mesmo para todos os tanhos do responsivo*/
    background-color: #333;
    border-radius: 5px;
    position: relative; /*! torna a div .card pai da dia .face*/
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

/** SERVE PARA OS DOIS LADOS DO CARD*/
.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--border);
    border-radius: 5px;
    transition: all 1s ease;
}

.front{
    transform: rotateY(180deg); /*! Já deixa a parte da frente invertida para que quando aconteça o rotate ela não fique como espelho */
}

.back{
    background-image: url('../images/back.png');
    backface-visibility: hidden; /*! faz com que a parte de tras do elemento seja escontida*/
}

.reveal-card{
        transform: rotateY(180deg);
}

.disabled-card{
    filter: saturate(0);
    opacity: 0.5;
}

@media (min-width: 320px) and (max-width: 480px) {
    main{
        width: 50%;
        min-width: 50vh;
    }

    header{
        max-width: 300px;
        font-size: 20px;
    }
    
    .grid{
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: 600px;
        max-width: 300px;
    }

    .card{
        aspect-ratio: 2/2; 
    }
}